<footer class="text-center text-lg-start bg-light text-muted">
    <section class="p-4" style="background-color: #0276A1; color: cornsilk;">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h4 class="text-uppercase fw-bold mb-4">
                        Área do cliente
                    </h4>
                    <p>
                        <a href="#!" class="text-reset">Carrinho</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Configurações</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Lista de desejos</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h4 class="text-uppercase fw-bold mb-4">
                        Contato
                    </h4>
                    <p><i class="fas fa-home me-3"></i> Av Paulista, 000, Brasil</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@bluemodas.com.br
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 11 12345678</p>
                    <p><i class="fas fa-print me-3"></i> 11 987456122</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">BlueModas.com.br</a>
    </div>
</footer>